body { margin: 0px; background: #fff; }

table, th, td {
    /*padding: 5px;*/
    vertical-align: middle;
}

p {
  margin: 0 }

.actionbutton {
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid black;*/
    background: green;
    font-size: 4vh;
    /*margin-bottom: 10px;*/
    /*padding: 50px;*/
    border-bottom: 1px solid black;
}

/*.yellow {
    background: yellow !important;
}

.red {
    background: red !important;
}*/